apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "node-ttl.fullname" . }}
  labels:
    {{- include "node-ttl.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      {{- include "node-ttl.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "node-ttl.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "node-ttl.fullname" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          args:
            - --probe-addr=:{{ .Values.service.probe.port }}
            - --interval={{ .Values.nodeTtl.interval }}
            - --status-config-map-name={{ .Values.nodeTtl.statusConfigMapName }}
            - --status-config-map-namespace={{ .Values.nodeTtl.statusConfigMapNamespace }}
          ports:
            - name: probe
              containerPort: {{ .Values.service.probe.port }}
              protocol: TCP
          readinessProbe:
            httpGet:
              path: /readyz
              port: probe
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
